<% include ../partials/header %>

<div class="ui text container clearing segment">

    <h1 class="ui header">Edit Review</h1>
    <form class="ui form" action="/companies/<%= company_id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
      <div class="field">
        <label>Author</label>
        <input type="text" name="review[author]" value="<%= review.author %>">
      </div>
      <div class="field">
        <label>Review</label>
        <input type="text" name="review[body]" value="<%= review.body %>">
      </div>
      <div class="field">
        <label>Image URL</label>
        <input type="text" name="review[image]" value="<%= review.image %>">
      </div>
      <h3 class="ui header">Ratings:</h3>
      <div class="field">
        <label>Pay</label>
        <input type="text" name="review[ratingPay]" value="<%= review.ratingPay %>">
      </div>
      <div class="field">
        <label>Atmosphere</label>
        <input type="text" name="review[ratingAtmosphere]" value="<%= review.ratingAtmosphere %>">
      </div>
      <div class="field">
        <label>Staff</label>
        <input type="text" name="review[ratingStaff]" value="<%= review.ratingStaff %>">
      </div>
      <div class="field">
        <label>Safety</label>
        <input type="text" name="review[ratingSafety]" value="<%= review.ratingSafety %>">
      </div>
      <div class="field">
        <label>Accomodation</label>
        <input type="text" name="review[ratingAccomodation]" value="<%= review.ratingAccomodation %>">
      </div>
      <div class="field">
        <label>Hours per week</label>
        <input type="text" name="review[hoursPerWeek]" value="<%= review.hoursPerWeek %>">
      </div>
      <div class="field">
        <label>Days per week</label>
        <input type="text" name="review[daysPerWeek]" value="<%= review.daysPerWeek %>">
      </div>
      <div class="field">
        <label>Salary</label>
        <input type="text" name="review[salary]" value="<%= review.salary %>">
      </div>
      <div class="field">
        <label>Salary Rate</label>
        <input type="text" name="review[salaryRate]" value="<%= review.salaryRate %>">
      </div>
      <div class="field">
        <label>Accomodation Provided</label>
        <input type="text" name="review[accomodationProvided]" value="<%= review.accomodationProvided %>">
      </div>
      <div class="field">
        <label>Accomodation Cost</label>
        <input type="text" name="review[accomodationCost]" value="<%= review.accomodationCost %>">
      </div>
      <div class="field">
        <label>Accomodation Cost Rate</label>
        <input type="text" name="review[accomodationCostRate]" value="<%= review.accomodationCostRate %>">
      </div>
      <a href="/companies/<%=company_id%>" >
        <button class="ui left floated negative basic button">Cancel</button>
      </a>
      <button class="ui right floated primary button" type="submit">Submit</button>
    </form>
</div>

<% include ../partials/footer %>