<% include ../partials/header %>

<div class="ui text clearing container segment">
    <div class="ui clearing basic segment">

        <h1 class="ui header"><%= company.name %></h1>
        <p><%= company.address %><br/><span class="capitalize" ><%= company.suburb %></span> <span class="uppercase"><%= company.state %></span> <%= company.postalcode %></p>
        <div class="ui label capitalize"><%= company.category %></div>
        <p><%= company.description %></p>
        
        <h3 class="ui dividing header">Ratings</h3>
        <div>Overall: <%= Math.round(company.ratingOverall*2)/2 %></div>
        <div>Pay: <%= Math.round(company.ratingPay*2)/2 %></div>
        <div>Atmosphere: <%= Math.round(company.ratingAtmosphere*2)/2 %></div>
        <div>Staff: <%= Math.round(company.ratingStaff*2)/2 %></div>
        <div>Safety: <%= Math.round(company.ratingSafety*2)/2 %></div>
        <% if (company.accomodationProvided) { %>
        <div>Accomodation: <%= Math.round(company.ratingAccomodation*2)/2 %></div>
        <% } %>
        
        <h3 class="ui dividing header">Visa sign-off</h3>
        <div>
            417 Visa Sign-off: <%= company.valid417 %>
        </div>
        <div>
            462 Visa Sign-off: <%= company.valid462 %>
        </div>
        
        <!--<div>-->
        <!--    <form action="/companies/<%= company._id %>?_method=DELETE" method="POST">-->
        <!--        <button class="ui right floated red basic button">-->
        <!--            Delete-->
        <!--            <i class="right chevron icon"></i>-->
        <!--        </button>-->
        <!--    </form>-->
        <!--    <a class="ui right floated orange basic button" href="/companies/<%= company._id %>/edit">-->
        <!--        Edit-->
        <!--        <i class="right chevron icon"></i>-->
        <!--    </a>-->
        <!--</div>-->
    </div>

<!--Reviews-->
    <div class="ui container">
        <a class="ui tiny right floated positive button" 
           href="/companies/<%= company._id %>/reviews/new">
            Add Review
        </a>
        <h3 class="ui header">Reviews</h3>
        <div class="ui clearing divider"></div>
    </div>
    <div class="ui comments">
        <% company.reviews.forEach(function(review){ %>
            <div class="comment">
                <a class="avatar">
                    <i class="big user circle icon"></i>
                </a>
                <div class="content">
                    <a class="author"><%=review.author%></a>
                    <div class="metadata">
                         <div class="date" ><%= new Date(review.created).toDateString(); %></div>
                    </div>
                    <div class="text"><%=review.body%></div>
                    
                    <h5 class="ui dividing header">Ratings</h5>
                    <div class="extra">Overall:<%=review.ratingOverall%></div>
                    <div class="extra">Pay:<%=review.ratingPay%></div>
                    <div class="extra">Atmosphere:<%=review.ratingAtmosphere%></div>
                    <div class="extra">Staff:<%=review.ratingStaff%></div>
                    <div class="extra">Safety:<%=review.ratingSafety%></div>
                    <% if (review.accomodationProvided) { %>
                        <div class="extra">Accomodation:<%=review.ratingAccomodation%></div>
                    <% } %>
                    
                    <h5 class="ui dividing header">Salary/Hours</h5>
                    <div class="extra">Salary:$<%=review.salary%> <%=review.salaryRate%></div>
                    <div class="extra">Hours per week:<%=review.hoursPerWeek%></div>
                    <div class="extra">Days per week:<%=review.daysPerWeek%></div>
                    
                    <h5 class="ui dividing header">Accomodation</h5>
                    <div class="extra">Accomodation provided: <% if (review.accomodationProvided) { %>Yes <% } else { %> No <% } %></div>
                    <% if (review.accomodationProvided) { %>
                        <div class="extra">Rating:<%=review.ratingAccomodation%></div>
                        <div class="extra">Cost:<%=review.accomodationCost%> <%=review.accomodationCostRate%></div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>